In [ ]:
# python basics
# it provides extensive libraries like numpy,pandas,matplotliblib,seborn, sklearn

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [ ]:
#data
#data clean
#data noise free
#data balanced
#data preprocessing
#numpy,pandas,matplotlib,seaborn
#describe the data #descriptive analytics
#explore (EDA)

In [ ]:
#python basics

In [ ]:
#python #open source

In [ ]:
#data
#data store
#variables

In [ ]:
#identifier name
#alpha numeric

a12 = 200

In [ ]:
#name should always starts with alphabet
b12a = 400

In [ ]:
#variable name cannot start with numeric
#not special character or white space is not allowed in the naming conventions of a variable

In [ ]:
12a = 400

SyntaxError: invalid decimal literal (<ipython-input-7-f46383944995>, line 1)

In [ ]:
a$2 = 40

SyntaxError: invalid syntax (<ipython-input-8-d55a3af21002>, line 1)

In [ ]:
#underscore is allowed

a_12 = 50

In [ ]:
_12a = 60

In [ ]:
#data types
a = 10
#defined a variable

In [ ]:
#in the other programming languages like java , c
#we have to first declare the variable then we have to define

In [ ]:
#to check the data type of a variable
#inbuild functions
type(a)

int

In [ ]:
b = 10.2

In [ ]:
type(b)

float

In [ ]:
c = "Prabhjot"

In [ ]:
type(c)

str

In [ ]:
d = "P"

In [ ]:
type(d)

str

In [ ]:
e = True

In [ ]:
type(e)

bool

In [ ]:
#programming language
#calculator on the computer?
#application
#programming language

In [ ]:
#i have to command to the computer to do some task
#machine langauage(low level)
#humans high level language(english)
#commands in human language
#transalotor
#compiler, interpreter
#entire program compile in a single
#interpreter , program bind but line by line

In [ ]:
g = "ab123"

In [ ]:
type(g)

str

In [ ]:
#int,float,boolean,str

In [ ]:
g = ab123

NameError: name 'ab123' is not defined

In [ ]:
#boolean
#true or false

In [ ]:
h = True

In [ ]:
type(h)

bool

In [ ]:
#print()
#i am using a print function to print some data

In [ ]:
print("hello World")

hello World

In [ ]:
k = None

In [ ]:
type(k)

NoneType

In [ ]:
#complex data
#complex numbers real numbers
l = 10+1j

In [ ]:
type(l)

complex

In [ ]:
#a number is odd or even

In [ ]:
a = 10
#i have to check
#we require a condition
#in python to use the condition we use if else conditions

In [ ]:
#programming in python
#indentation is very important
#spacing

a=10
b=20
c=a+b
print(c)

30

In [ ]:
#we have introduced conditions
#odd or even
#type casting or type conversion
a = int(input("Enter the number"))
if(a%2==0):
  print("even")
else:
  print("odd")

even

In [ ]:
b = int(input("Enter the number"))

Enter the number10

In [ ]:
type(b)

int

In [ ]:
#data
#different data type
#data we have to perform some operations

In [ ]:
#we require operators
#a+b
#a, b are operands
#+ is the operator
print(10+20)
print(20-10)
print(40*2)
print(20/2)#division(float)
print(20//2)#floor divison
print(10**2)
print(10%2)
#airtmetic operators

30
10
80
10.0
10
100
0

In [ ]:
#assignment operators
#used to assign a value
a=10

In [ ]:
a = a+10

In [ ]:
print(a)

20

In [ ]:
a += 30
#similar to a= a+30

In [ ]:
print(a)

50

In [ ]:
a -= 4
#a = a-4

In [ ]:
print(a)

46

In [ ]:
#a*=3
#a/=4
#a//=4

In [ ]:
#comparison operators
#used to compare

In [ ]:
a= 30

In [ ]:
b = 30

In [ ]:
print(a==b)

True

In [ ]:
print(10>3)

True

In [ ]:
print(10<=10)

True

In [ ]:
print(4<4)

False

In [ ]:
print(20>=30)

False

In [ ]:
#airthmetic,assignment,comparison
#data types
#variables
#naming conventions
#type(),input(),type casting
#odd even

In [ ]:
#if i have to store multiple values in a single variables
#list,tuple,dictionary,set

In [ ]:
a = 10.2

In [ ]:
a = int(10.2)

In [ ]:
a

10